@import 'node_modules/bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-card:hover .info{
    opacity: 1;
    transition: 1s ease;
    
}
.my-card:hover #poster{
    opacity: 0.2;
    transition: 0.5s ease;
}
.my-card:hover{
    scale: 1.1;
    z-index: 99;
    transition: 1s ease;
}